
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
input{
    color: white;
    font-size: 21px;
    width: 129px;
    height: 55px;
    border: solid white 2px;
    border-radius: 16px;
    background-color: black;
    font-weight: 700;
}
.divall{
   color: white;
    border-radius: 25px;
    padding: 50px;
    width: 500px;
    height: 354px;
    text-align: center;
    border: white solid 2px;
}
p{
    
    font-size: 100px;
}